<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seersolutions.dashboard">

    <application>
        <activity android:name="seersolutions.dashboard.ActivityDashboard"
            android:launchMode="singleTask"/>
    </application>

</manifest>